h5py
typing-extensions
wheel

packaging
protobuf<4,>=3.13.0
urllib3<2.0.0

google-cloud-aiplatform
google-api-core<2dev,>=1.13.0

neo4j==5.18.0

langchain
langchain-core==0.1.46
langchain-google-vertexai

tensorflow 
tensorflow-hub 
tensorflow-text